@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: DM Sans;
  
}
body{
 
  /* background: #ad5389;  
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
background: linear-gradient(to right, #3c1053, #ad5389);  */

background-color :#7cffcb;
background-image :linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);


}


/* .parent{
  display: flex;
  justify-content: flex-end;
} */
/* .cards{
  width:35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* .employee--form{
  width:65%;
} */

.heading {
  text-align: center;
  margin-top: 5rem;
  font-family: arvo;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

.container {
  background-color: white;
  margin-top: 4rem;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  height: 40rem;
  width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-shadow: 1px 1px 1px 1px rgb(204, 190, 190); */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left:2rem;
  padding-right: 1rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
label {
  font-weight: 600;
  margin-left:1rem;
}

.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.terms {
  text-align: center;
}
input[type="text"] {
  padding: 0.2rem;

  height: 1.8rem;
  width: 12rem;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 0.5rem;
  
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

textarea {
  height: 4rem;
  padding: 0.3rem;
  width: 12rem;
  resize: none;
}

.radios {
  display: flex;
  width: 12rem;
  justify-content: space-around;
  margin-right: 1.5rem;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  color: white;
  background-color: #00d09c;
  font-weight: 600;
}

.reset {
  background-color: rgba(189, 176, 122, 0.747);
}

.termsLink {
  cursor: pointer;
  color: rgba(75, 44, 212, 0.822);
}

.previous {
  text-align: center;
  margin: 6rem 1rem;
}
.previous--title {
  font-size: 1rem;
  margin-bottom: 2rem;
  display: inline-block;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;

  font-weight: bold;
  color: white;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.previous-posts {
  display: flex;
  margin: 3rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

::placeholder {
  color: rgba(247, 47, 47, 0.747);
  font-weight: 600;
  text-align: center;
}
i {
  margin-left: 0.2rem;
}

.icon {
  color: red;
}

.icon--firstName,
.icon--lastName,
.icon--spouse,
.icon--other,
.icon--checkbox {
  visibility: hidden;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  position: relative;
  align-items: center;
  width: 18rem;
  height: 20rem;
  margin: 1rem;
  border-radius: 0.4rem;
  background-color: white;
  
  

  overflow-y: auto;
  /* box-shadow: 1px 1px 1px 1px rgb(204, 190, 190); */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 6px 5px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 10px 5px rgba(0, 0, 0, 0.086),
    0 10px 10px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

input{
  padding:1px;
}



.post > div {
  margin: 0.3rem 1rem;
  text-align: center;
}

.post:hover{
  zoom: 1.02;

}
.filter-text{
  color:white;
  margin-bottom: 0.3rem;
}

.avatar {
  color: white;
  display: inline-block;
  background-color: rgba(40, 165, 214, 0.726);
  border-radius: 2rem;
  font-weight: 600;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 3.5rem;
  width: 3.5rem;
}

.errors {
  text-align: center;
}
.error--title {
  font-size: 0.8rem;
  color: red;
}

/* .button:hover {
  background: #3876ac;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  background-color: white;
  border-radius: 1rem;
  width: 50%;
  padding: 1rem 2rem;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 0.45rem 1.3rem 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.terms--title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.term {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.close-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.3rem 2rem;
}

.loading-modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.247);
}

.loading {
  visibility: none;
  text-align: center;
  margin-top: 50vh;
  z-index: 5
}
.ring-1 {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  padding: 10px;
  border: 7px dashed #4b9cdb;
  border-radius: 100%;
}

.load-4 .ring-1 {
  animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@keyframes loadingD {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

strong {
  font-weight: bold;
}

.commenty {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 15rem;
}

.viewEmployeeModal
{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.247);
}
/* .employeeModal{

  visibility: none;
  text-align: center;
  margin-top: 10vh;

} */

@media screen and (max-width: 4000px) {
  * {
    font-size: 20px;
  }
}
@media screen and (max-width: 2500px) {
  * {
    font-size: 16px;
  }
  /* .employee--form{
    width:55%;
  }
  .cards{
    width:55%;
  } */
}
@media screen and (max-width: 900px) {
  * {
    font-size: 14px;
  }
  .modal-content {
    width: 80%;
  }
  /* .parent{
    flex-direction: column;
  }
  .cards{
    width:100%;
  }
  .employee--form{
    width:100%;
  } */
}

.btn-delete{
  display: none;
  background-color:rgba(247, 47, 47, 0.747);
}

button{
  border:none;
}


.side-drawer-icon{
  margin-left:1rem;
  margin-top:1rem;
  font-size: 1.5rem;
  cursor:pointer;
  color: rgb(77, 64, 64);
}




.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(100, 107, 117);
  
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f0ecec;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #e0cdcd;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.container {
  transition: margin-left .5s;
  padding: 16px;
}

.three-dots{
  position: absolute;
  height: 10rem;
  left:7rem;
  top:0.5rem;
  cursor: pointer;
}

.three-dots-options{
  /* background-color:rgb(247, 247, 247);
  position: absolute;
  top:10rem;
  color:black; */
  position:absolute;
  justify-self: flex-start;
  top:2.1rem;
  height: 4rem;
  border:1px solid red;
  width: 3rem;

  /* height:5rem; */
}

/* .delete-card,
.edit-card{
  display: inline-block;
  align-self: flex-end;

} */



