@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: open sans;
}

/* body {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
} */
.container {
  background-color: white;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  height: 40rem;
  width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 1px 1px 1px 1px rgb(204, 190, 190);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
label {
  font-weight: 600;
}

.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.terms {
  text-align: center;
}
input[type="text"] {
  padding: 0.2rem;

  height: 1.8rem;
  width: 12rem;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 0.5rem;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

textarea {
  height: 4rem;
  padding: 0.3rem;
  width: 12rem;
  resize: none;
}

.radios {
  display: flex;
  width: 12rem;
  justify-content: space-around;
  margin-right: 1.5rem;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  color: white;
  background-color: #00d09c;
  font-weight: 600;
}

.reset {
  background-color: rgba(247, 47, 47, 0.747);
}

.termsLink {
  cursor: pointer;
  color: rgba(75, 44, 212, 0.822);
}

.previous {
  text-align: center;
  margin: 4rem 1rem;
}
.previous--title {
  font-size: 2rem;
  display: inline;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
  color: #26458a;
}

.previous-posts {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

::placeholder {
  color: rgba(247, 47, 47, 0.747);
  font-weight: 600;
  text-align: center;
}
i {
  margin-left: 0.2rem;
}

.icon {
  color: red;
}

.icon--firstName,
.icon--lastName,
.icon--spouse,
.icon--other,
.icon--checkbox {
  visibility: hidden;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  width: 18rem;
  height: 20rem;
  margin: 2rem;
  border-radius: 0.4rem;
  overflow-y: auto;
  box-shadow: 1px 1px 1px 1px rgb(204, 190, 190);
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.post > div {
  margin: 0.3rem 1rem;
  text-align: center;
}
.avatar {
  color: white;
  background-color: rgba(58, 204, 209, 0.726);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.errors {
  text-align: center;
}
.error--title {
  font-size: 0.8rem;
  color: red;
}

/* .button:hover {
  background: #3876ac;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  background-color: white;
  border-radius: 1rem;
  width: 50%;
  padding: 1rem 2rem;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 0.45rem 1.3rem 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.terms--title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.term {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.close-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.3rem 2rem;
}

@media screen and (max-width: 700px) {
  * {
    font-size: 14px;
  }
  .modal-content {
    width: 80%;
  }
}
.loading-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.247);
}

.loading {
  visibility: none;
  text-align: center;
  margin-top: 50vh;
}
.ring-1 {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  padding: 10px;
  border: 7px dashed #4b9cdb;
  border-radius: 100%;
}

.load-4 .ring-1 {
  animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@keyframes loadingD {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
